.heart {
  width: 50px;
  height: 50px;
  background-color: #ff6f91; /* rose accent */
  position: relative;
  transform: rotate(-45deg);
  animation: beat 1s infinite;
}

.heart::before,
.heart::after {
  content: "";
  width: 50px;
  height: 50px;
  background-color: #ff6f91;
  border-radius: 50%;
  position: absolute;
}

.heart::before {
  top: -25px;
  left: 0;
}

.heart::after {
  left: 25px;
  top: 0;
}

@keyframes beat {
  0%, 100% { transform: scale(1) rotate(-45deg); }
  50% { transform: scale(1.2) rotate(-45deg); }
}
